<nav class="foot-bar navbar">
    <a href="/about" class="nav-text <%= typeof selected[0] != 'undefined' ? selected[0] : '' %>">
        <p>About</p>
    </a>
    <a href="/aboutme" class="nav-text <%= typeof selected[1] != 'undefined' ? selected[1] : '' %>">
        <p>About Me</p>
    </a>
    <a href="/about#settings" class="nav-svg">
        <%- include('../svg/settings.svg'); %>
    </a>
    <a href="https://github.com/Xilef12000/Xilef12000.github.io" class="nav-svg">
        <%- include('../svg/github.svg'); %>
    </a>
    <a onclick="goTop()" class="nav-svg">
        <%- include('../svg/arrow_up.svg'); %>
    </a>
</nav>