<nav class="x-bar" id="top">
	<a href="/">
		<h1>Xilef12000</h1>
	</a>
</nav>
<nav class="navbar head-bar" id="top">
	<a href="/" class="nav-svg-text <%= typeof selected[0] != 'undefined' ? selected[0] : '' %>">
		<%- include('../svg/home.svg'); %>
		<p>Home</p>
	</a>
	<a href="/projects" class="nav-svg-text <%= typeof selected[1] != 'undefined' ? selected[1] : '' %>">
		<%- include('../svg/window.svg'); %>
		<p>Projects</p>
	</a>
	<a href="/gallery" class="nav-svg-text <%= typeof selected[2] != 'undefined' ? selected[2] : '' %>">
		<%- include('../svg/images.svg'); %>
		<p> Gallery</p>
	</a>
	<a href="https://x42.space/" class="nav-svg-text <%= typeof selected[3] != 'undefined' ? selected[3] : '' %>">
		<p> x42.space</p>
	</a>
	<a href="https://github.com/Xilef12000/" class="nav-svg">
		<%- include('../svg/github.svg'); %>
	</a>
	<a href="https://www.thingiverse.com/xilef12000/designs" class="nav-svg">
		<%- include('../svg/thingiverse.svg'); %>
	</a>
	<a href="https://www.printables.com/@Xilef12000_1755152" class="nav-svg">
		<%- include('../svg/printables.svg'); %>
	</a>
	<a href="https://www.instructables.com/member/Xilef12000/" class="nav-svg">
		<%- include('../svg/instructables.svg'); %>
	</a>
	<a href="https://www.furaffinity.net/user/xilef12000/" class="nav-svg">
		<%- include('../svg/furaffinity.svg'); %>
	</a>
	<a href="https://www.youtube.com/@xilef12000" class="nav-svg">
		<%- include('../svg/youtube.svg'); %>
	</a>
</nav>