<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Gallery"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["", "", "selected"]}); %>
  </header>
  <div class="content-wrapper">
    <h1>Gallery:</h1>
    
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper">
      <%- include('../partials/frame_gallery', {src:"/assets/art/5059.png", alt:"sabertooth head"}); %>
      <%- include('../partials/external_content_card', {content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0Ntyz9nkGYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/7d37.png", alt:"proto head"}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/8f59.png", alt:"Free to use Meerkat base by Xilef12000"}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/8f58.png", alt:"Transparent Free to use Meerkat base by Xilef12000"}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/d72c.png", alt:"Garden seating area"}); %>
      <%- include('../partials/external_content_card', {content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/T2v26MZoNVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/b62e.png", alt:"Canine Refsheet"}); %>
      <%- include('../partials/frame_gallery', {src:"/assets/art/4f35.png", alt:"Rexouium Head"}); %>
    </div>
    <script src="scripts/imageflip.js"></script>
    <%- include('../partials/modal_image', {}); %>
  </div>   
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>