<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Home"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["selected", "", ""]}); %>
  </header>
  <div class="content-wrapper">
    
    <%- include('../html/typewriter.html'); %>
    
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <%- include('../partials/frame_projects', {href:"https://github.com/Xilef12000/scripts",src:"/assets/project/f24d/thumbnail.png", alt:"scripts"}); %>
      <%- include('../partials/frame_projects', {href:"/project/10a2",src:"/assets/project/10a2/thumbnail.png", alt:"QLC+ Dark Theme"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/projects" class="no-decoration">see more...</a>
      </h3>
    </div>
    <div class="scene-wrapper">
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <div class="card__image__instant card__text__small external_content" draggable="false" external='<iframe class="card__image" width="560" height="315" src="https://www.youtube-nocookie.com/embed/0Ntyz9nkGYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'>
              <p>This is a embedded page. The content is not displayed right now, because it might set its own cookies.</p>
              <p>By clicking one of the buttons below the content will be loaded from the external server.</p>
              <button onclick="loadExternal(this)">
                load this embedded element
              </button>
              <br>
              <br>
              <button onclick="loadExternalAll()">
                load all embedded elements
              </button>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/frame_gallery', {src:"/assets/art/7d37.png", alt:"proto head"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/gallery" class="no-decoration">see more...</a>
      </h3>
    </div>
    <script src="scripts/imageflip.js"></script>
    <%- include('../partials/modal_image', {}); %>
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>