<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Home"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["selected", "", ""]}); %>
  </header>
  <div class="content-wrapper">
    <%- include('../html/typewriter.html'); %>
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <%- include('../partials/frame_projects', {id:"13a2", href:"/project/13a2",src:"/assets/project/13a2/thumbnail.png", alt:"Lissaious Form for MA2 Effects"}); %>
      <%- include('../partials/frame_projects', {id:"f24d", href:"https://github.com/Xilef12000/scripts",src:"/assets/project/f24d/thumbnail.png", alt:"scripts"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/projects" class="no-decoration">see more...</a>
      </h3>
    </div>
    <div class="scene-wrapper">
      <%- include('../partials/external_content_card', {id:"5cd2", content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-37sGGrTSoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      <%- include('../partials/frame_gallery', {id:"7d37", src:"/assets/art/7d37.png", alt:"proto head"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/gallery" class="no-decoration">see more...</a>
      </h3>
    </div>
    <script src="scripts/imageflip.js"></script>
    <%- include('../partials/modal_image', {}); %>
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>