<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Home"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["selected", "", ""]}); %>
  </header>
  <div class="content-wrapper">
    <%- include('../html/typewriter.html'); %>
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <%- include('../partials/frame_projects', {id:"", href:"https://www.printables.com/model/747869-pencil-case", title:"Pencil Case", description:"Pencil Case with sliding lid Remixed Pencil Case by GurgleApps Now with Rounded Corners", stats:'<img alt="Printables" src="https://img.shields.io/badge/PRINTABLES-FA6831?style=for-the-badge&logo=printables&logoColor=white"><img alt="Thingiverse" src="https://img.shields.io/badge/THINGIVERSE-248BFB?style=for-the-badge&logo=thingiverse&logoColor=white">'}); %>
      <%- include('../partials/frame_projects', {id:"", href:"https://github.com/Xilef12000/CLIQuest3D", title:"CLIQuest3D", description:"A Terminal Based 3D Ego Shooter", stats:'<img alt="Linux" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"><img alt="C" src="https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=black"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/CLIQuest3D?style=for-the-badge">'}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/projects" class="no-decoration">see more...</a>
      </h3>
    </div>
    <div class="scene-wrapper">
      <%- include('../partials/external_content_card', {id:"5cd2", content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-37sGGrTSoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      <%- include('../partials/frame_gallery', {id:"7d37", src:"/assets/art/7d37.png", alt:"proto head"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/gallery" class="no-decoration">see more...</a>
      </h3>
    </div>
    <script src="scripts/imageflip.js"></script>
    <%- include('../partials/modal_image', {}); %>
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>