<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Home"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["selected", "", ""]}); %>
  </header>
  <div class="content-wrapper">
    <%- include('../html/typewriter.html'); %>
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <%- include('../partials/frame_projects', {id:"13a2", href:"/project/13a2", title:"Lissaious Form for MA2 Effects", description:"This importable Form for MA2 adds a Lissaious Form as seen in the image", stats:'<img alt="grandMA2" src="https://img.shields.io/badge/grandMA2-eea800?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"f24d", href:"https://github.com/Xilef12000/scripts", title:"scripts", description:"a collection of useful shell/bash scripts (and some other scipts)", stats:'<img alt="Linux" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"><img alt="Shell" src="https://img.shields.io/badge/Bash-89e051?style=for-the-badge&logo=GNUBash&logoColor=black"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/scripts?style=for-the-badge">'}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/projects" class="no-decoration">see more...</a>
      </h3>
    </div>
    <div class="scene-wrapper">
      <%- include('../partials/external_content_card', {id:"5cd2", content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-37sGGrTSoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      <%- include('../partials/frame_gallery', {id:"7d37", src:"/assets/art/7d37.png", alt:"proto head"}); %>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/gallery" class="no-decoration">see more...</a>
      </h3>
    </div>
    <script src="scripts/imageflip.js"></script>
    <%- include('../partials/modal_image', {}); %>
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>