<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Projects"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["", "selected", ""]}); %>
  </header>
  <div class="content-wrapper">
    <h1>Projects:</h1>
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <%- include('../partials/frame_projects', {id:"", href:"https://www.printables.com/model/747869-pencil-case", title:"Pencil Case", description:"Pencil Case with sliding lid Remixed Pencil Case by GurgleApps Now with Rounded Corners", stats:'<img alt="Printables" src="https://img.shields.io/badge/PRINTABLES-FA6831?style=for-the-badge&logo=printables&logoColor=white"><img alt="Thingiverse" src="https://img.shields.io/badge/THINGIVERSE-248BFB?style=for-the-badge&logo=thingiverse&logoColor=white">'}); %>
      <%- include('../partials/frame_projects', {id:"", href:"https://github.com/Xilef12000/CLIQuest3D", title:"CLIQuest3D", description:"A Terminal Based 3D Ego Shooter", stats:'<img alt="Linux" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"><img alt="C" src="https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=black"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/CLIQuest3D?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"", href:"https://x42.space", title:"x42.space", description:"gh-page for https://x42.space/", stats:'<img alt="Firefox" src="https://img.shields.io/badge/Firefox-FF9500?style=for-the-badge&logo=firefox&logoColor=00539F"><img alt="Html" src="https://img.shields.io/badge/html-E34F26?style=for-the-badge&logo=html5&logoColor=black"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/x42.space?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"", href:"https://github.com/Xilef12000/RPi0w-wifi-catcher", title:"RPi0w-wifi-catcher", description:"A Raspberry Pi Zero W based wifi scanner", stats:'<img alt="Raspberry Pi" src="https://img.shields.io/badge/Raspberry%20Pi-c7053d?style=for-the-badge&logo=raspberrypi&logoColor=white"><img alt="Python" src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=306998"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/RPi0w-wifi-catcher?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"", href:"https://github.com/Xilef12000/MarkdownExport", title:"MarkdownExport", description:"Markdown Export for Sublimetext using custom Templates", stats:'<img alt="Sublime Text" src="https://img.shields.io/badge/SublimeText-FF9800?style=for-the-badge&logo=sublimetext&logoColor=4C4C4C"><img alt="Python" src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=306998"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/MarkdownExport?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"13a2", href:"/project/13a2", title:"Lissaious Form for MA2 Effects", description:"This importable Form for MA2 adds a Lissaious Form as seen in the image", stats:'<img alt="grandMA2" src="https://img.shields.io/badge/grandMA2-eea800?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"f24d", href:"https://github.com/Xilef12000/scripts", title:"scripts", description:"a collection of useful shell/bash scripts (and some other scipts)", stats:'<img alt="Linux" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"><img alt="Shell" src="https://img.shields.io/badge/Bash-89e051?style=for-the-badge&logo=GNUBash&logoColor=black"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/scripts?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"10a2", href:"/project/10a2", title:"QLC+ Dark Theme", description:"Simple dark theme for QLC+", stats:'<img alt="Linux" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"><img alt="CSS" src="https://img.shields.io/badge/CSS-264de4?style=for-the-badge&logo=css3&logoColor=white"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/qlcplus-dark-theme?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"6497", href:"/project/6497", title:"WS2821 over Artnet", description:"ws2812 over artnet with a raspberrypi", stats:'<img alt="Raspberry Pi" src="https://img.shields.io/badge/Raspberry%20Pi-c7053d?style=for-the-badge&logo=raspberrypi&logoColor=white"><img alt="Python" src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=306998"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/ws2812-over-artnet?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"29b7", href:"/project/29b7", title:"Custom Browser Start Page", description:"custom browser start page with plenty shortcuts", stats:'<img alt="Firefox" src="https://img.shields.io/badge/Firefox-FF9500?style=for-the-badge&logo=firefox&logoColor=00539F"><img alt="Java Script" src="https://img.shields.io/badge/JS-f0db4f?style=for-the-badge&logo=javascript&logoColor=323330"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/custom-browser-start-page?style=for-the-badge">'}); %>
      <%- include('../partials/frame_projects', {id:"1082", href:"/", title:"xilef12000.github.io", description:"Xilef12000's Github Repository for his Github Pages website", stats:'<img alt="Firefox" src="https://img.shields.io/badge/Firefox-FF9500?style=for-the-badge&logo=firefox&logoColor=00539F"><img alt="Node.js" src="https://img.shields.io/badge/Node.js-3c873a?style=for-the-badge&logo=Node.js&logoColor=303030"><img alt="Stars" src="https://img.shields.io/github/stars/Xilef12000/xilef12000.github.io?style=for-the-badge">'}); %>
    </div>  
    <script src="scripts/imageflip.js">
    </script>
  </div>   
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>