<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"About Me"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:[]}); %>
  </header>
  <div class="content-wrapper about-me">
    <div>
      <div>
        <img class="about-pp modal-image" src="/assets/art/4f35.png" alt="Rexouium Head" draggable="false" />
        <h2 class="center-contents">Xilef12000</h2>
        <h3 class="right-contents extra-padding">
          <a href="#github">Github</a>
        </h3>
        <h3 class="right-contents extra-padding">
          <a href="#furry">Furry</a>
        </h3>
      </div>
    </div>
    <div>
      
      <br/>
      <h1 class="zero purple">
        <span class="typing">I'M </span>
        <span id="typing" class="typing"></span>
        <span id="cursor" class="cursor">|</span>
      </h1>
      <p class="bold purple_dark">Xilef12000, Programmer, Animator, Renderer, Developer, Artist</p>
      <script src="scripts/typewriter.js"></script>
      <br/>
      
      <h2 id="github">Github:</h2>
      <%- md('md/about_me_github.md'); %>
      <br/>
      <h2 id="furry">Furry:</h2>
      <!--
        //https://codepen.io/desandro/pen/LmWoWe
        //https://3dtransforms.desandro.com/card-flip
      -->
      <div class="scene-wrapper">
        <%- include('../partials/frame_gallery', {src:"/assets/art/7d37.png", alt:"proto head"}); %>
        <%- include('../partials/frame_gallery', {src:"/assets/art/b62e.png", alt:"Canine Refsheet"}); %>
        <%- include('../partials/frame_gallery', {src:"/assets/art/4f35.png", alt:"Rexouium Head"}); %>
      </div>
      <script src="scripts/imageflip.js"></script>
    </div>
  </div> 
  <%- include('../partials/modal_image', {}); %>
  <footer>
    <%- include('../partials/footer', {selected:["0", "selected"]}); %>
  </footer>
</body>