<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"About Me"}); %>
  <script src="/scripts/externalContent.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:[]}); %>
  </header>
  <div class="content-wrapper about-me">
    <div>
      <div>
        <img class="about-pp modal-image" src="/assets/art/4f35.png" alt="Rexouium Head" draggable="false" />
        <h2 class="center-contents">Xilef12000</h2>
        <h3 class="right-contents extra-padding">
          <a href="#github">Github</a>
        </h3>
        <h3 class="right-contents extra-padding">
          <a href="#furry">Furry</a>
        </h3>
        <h3 class="right-contents extra-padding">
          <a href="#blender">Blender</a>
        </h3>
      </div>
    </div>
    <div>
      
      <%- include('../html/typewriter.html'); %>
      
      <h2 id="github">Github:</h2>
      <div class="external_content" external='<%- md("md/about_me_github.md"); %>'>
        <p>This is a embedded page. The content is not displayed right now, because it might set its own cookies.</p>
        <p>By clicking one of the buttons below the content will be loaded from the external server.</p>
        <button onclick="loadExternal(this)">
          load this embedded element
        </button>
        <br>
        <br>
        <button onclick="loadExternalAll()">
          load all embedded elements
        </button>
      </div>
      <br/>
      <h2 id="furry">Furry:</h2>
      <!--
        //https://codepen.io/desandro/pen/LmWoWe
        //https://3dtransforms.desandro.com/card-flip
      -->
      <div class="scene-wrapper">
        <%- include('../partials/frame_gallery', {src:"/assets/art/7d37.png", alt:"proto head"}); %>
        <%- include('../partials/frame_gallery', {src:"/assets/art/b62e.png", alt:"Canine Refsheet"}); %>
        <%- include('../partials/frame_gallery', {src:"/assets/art/4f35.png", alt:"Rexouium Head"}); %>
      </div>
      <script src="scripts/imageflip.js"></script>
      <br/>
      <h2 id="blender">Blender:</h2>
      <div class="scene-wrapper">
        <%- include('../partials/external_content_card', {content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0Ntyz9nkGYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
        <%- include('../partials/frame_gallery', {src:"/assets/art/d72c.png", alt:"Garden seating area"}); %>
        <%- include('../partials/external_content_card', {content:'<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/T2v26MZoNVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}); %>
      </div>
      <script src="scripts/imageflip.js"></script>
    </div>
  </div> 
  <%- include('../partials/modal_image', {}); %>
  <footer>
    <%- include('../partials/footer', {selected:["0", "selected"]}); %>
  </footer>
</body>